<main>
  <div class="tw_container tw_mx-auto tw_bg-grey-lighter tw_mt-10 tw_p-8">
    <h1
      class="tw_font-mono tw_text-lg tw_text-grey-darkest tw_text-center"
      data-desc="heading"
    >
      {{ title }} from Angular 4 App with Webpack {{ major }}.{{ minor }}.{{
        patch
      }}
    </h1>
    <div class="tw_flex tw_flex-row tw_items-center tw_justify-center">
      <span
        ><img src="../assets/images/angular.png" data-desc="angular-first"
      /></span>
      <span><img [src]="logo" data-desc="angular-second"/></span>
    </div>
  </div>
</main>
